# ==========================================
# 1. UNITY - Cartelle temporanee e cache
# ==========================================
.utmp/
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/


# ==========================================
# 2. FMOD - Cache e file temporanei
# ==========================================
**/.fmod/
**/Build/Cache/
**/Assets/Plugins/FMOD/Cache/


# ==========================================
# 3. IDE, Editor e File di Soluzione
# ==========================================
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user
**/[Aa]ssets/Plugins/Editor/JetBrains*


# ==========================================
# 4. File di Build, Log e Crash
# ==========================================
*.log
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties


# ==========================================
# 5. Asset ausiliari e cache interne
# ==========================================
*.blend1
*.blend1.meta
/ServerData
**/[Aa]ssets/StreamingAssets/aa*
**/[Aa]ssets/AddressableAssetsData/link.xml*
**/[Aa]ssets/Addressables_Temp*
**/[Aa]ssets/AddressableAssetsData//.bin*
**/[Aa]ssets/Unity.VisualScripting.Generated/
/UIElementsSchema/
**/[Aa]ssets/[Ss]ceneDependencyCache*


# ==========================================
# 6. File di Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db